//Palette
$color-white: #ffffff;
$color-citrus: #A3C90A;
$color-tundora: #444444;
$color-tapa: #777777;

//Color Set
$color-primary: $color-citrus;
$color-font: $color-tundora;

//Icons
$icomoon-font-path: "fonts" !default;
$icon-twitter-square: "\f081";
$icon-linkedin-square: "\f08c";
$icon-github-square: "\f092";
$icon-tasks: "\f0ae";