.global-search {
  display: none;
  position: relative;
  width: 100%;
  text-align: center;
  padding: 5px 5px 2px;
  
  @include modifier('active') { 
    display: block;
  }

  @include element('input') {
    width: 100%;
    border: 0;
    border-bottom: 1px solid;
    padding: 5px 0px;
    outline: none;
    font-size: 17px;
    line-height: 17px;
  }
}
