.container {
	padding-top: 70px;

	@include element('left') {
		display: block;
		float: left;
		width: 25%;
		padding-right: 50px;
		box-sizing: border-box;
	}

	@include element('right') {
		float: left;
		width: 75%;
	}
}

.col {
	width: 60%;

	@include modifier('full') {
		width: 100%;
	}
}

.col + .col {
	width: 40%;
}
