.author {
	background: none;

	@include element('social') {
		a {
			color: $color-primary;

			&:hover, &.active {
				color: darken($color-primary, 10%);
			}
		}
	}

	@include element('name') {
		color: $color-font;
	}

	@include element('sub') {
		color: $color-tapa;
	}
}