.experience {
    @include element('item') {
        border-bottom-color: #ccc;
    }

    @include element('sub') {
        color: #888;
    }

    @include element('details') {
        color: #888;
    }
}