.skills {
    .level-bar {
        border-color: darken($color-primary, 5%);

        @include element('indicator') {
            @include gradient($color-primary, darken($color-primary, 2%));
            border-right-color: darken($color-primary, 5%);

            label {
                color: #fff;
            }

            @include modifier('full') {
                border-right-color: transparent;
            }
        }
    }
}