html {
	height: 100%;
}

body {
	min-height: 100%;
	position: relative;
	padding-bottom: 70px;
}

.container {
	padding: 0 25px 25px;
	max-width: 1140px;
	margin: 0 auto;

	&:before, &:after {
		display: table;
		content: "";
		clear: both;
	}
}