<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Stefan Mitev | Software Engineer</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="stylesheet" href="/styles/theme.css">
    </head>
    <body>
        <div class="global-search">
            <input type="text" class="global-search__input" value="find...">
        </div>
        
        <div class="container">
            <div class="container__left">
                <aside>
                    {{> author}}
                </aside>
            </div>
                
            <div class="container__right">
                <main>
                    <section class="tiles">
                        <div class="tile">
                            <h2 class="tile__title"><i class="icon-user"></i> My Story</h2>
                            <p class="tile__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi tempora voluptatibus qui necessitatibus sint ea rerum, quod deleniti libero doloremque voluptates, quo iusto, officiis odio cupiditate excepturi deserunt! Animi eos nulla illo id, voluptates deserunt quaerat quam distinctio tempora. Eius fuga dignissimos, earum doloremque soluta dolores vitae temporibus, dicta ab.</p>
                        </div>

                        <div class="tile tile--half">
                            <h2 class="tile__title"><i class="icon-briefcase"></i> Experience</h2>
                            <p class="tile__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi tempora voluptatibus qui necessitatibus sint ea rerum, quod deleniti libero doloremque voluptates, quo iusto, officiis odio cupiditate excepturi deserunt! Animi eos nulla illo id, voluptates deserunt quaerat quam distinctio tempora. Eius fuga dignissimos, earum doloremque soluta dolores vitae temporibus, dicta ab.</p>
                        </div>

                        <div class="tile tile--half">
                            <h2 class="tile__title"><i class="icon-trophy"></i> Milestones</h2>
                            <p class="tile__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi tempora voluptatibus qui necessitatibus sint ea rerum, quod deleniti libero doloremque voluptates, quo iusto, officiis odio cupiditate excepturi deserunt! Animi eos nulla illo id, voluptates deserunt quaerat quam distinctio tempora. Eius fuga dignissimos, earum doloremque soluta dolores vitae temporibus, dicta ab.</p>
                        </div>
                    </section>
                </main>
            </div>
        </div>

        <footer>
            <h3>&copy; {{year}} Stefan Mitev, All Rights Reserved</h3>
        </footer>

        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script src="/scripts/main.js"></script>
    </body>
</html>