input,
select,
textarea {
    border-width: 1px;
    border-style: solid;
    padding: 5px;
    outline: none;
}

.form-control {
    margin-bottom: 20px;
    label {
        font-weight: bold;
        margin-bottom: 5px;
        display: block;
    }
    input,
    select,
    textarea {
        width: 100%;
    }
    .error {
        float: right;
        color: red;
        font-weight: normal;
    }
}

button {
    padding: 5px 10px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    outline: none;
    &.link {
        border: 0;
    }
}