html {
	height: 100%;
}

body {
	min-height: 100%;
	position: relative;
	padding-bottom: 70px;
}

.page {
	padding: 0 25px 25px;
	max-width: 1140px;
	margin: 0 auto;

	&:before, &:after {
		display: table;
		content: "";
		clear: both;
	}
}

.row {
	margin: 0 -10px;
	
	&:after {
		content: "";
		display: block;
		clear: both;
	}
}

.col {
	float: left;
	width: 100%;
	padding: 0 10px;
	box-sizing: border-box;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}