@font-face {
	font-family: 'droid';
	src: url('./fonts/DroidSans-webfont.eot');
	src: url('./fonts/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
		url('./fonts/DroidSans-webfont.woff') format('woff'),
		url('./fonts/DroidSans-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'lato';
	src: url('./fonts/Lato-Regular.eot');
	src: url('./fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
		url('./fonts/Lato-Regular.woff') format('woff'),
		url('./fonts/Lato-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'droid';
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'lato';
}

footer {
	h3 {
		font-size: 14px;
		font-weight: normal;
	}
}