<section class="author">
    <img src="/images/sm_avatar.jpeg" alt="Author Avatar" class="author__avatar">
	
    <h4 class="author__name">Stefan Mitev</h4>
	<span class="author__sub">Software Engineer</span>
	
	<ul class="author__social">
        <li>
            <a href="https://twitter.com/stefomitev">
                <i class="icon-twitter-square"></i>
            </a>
        </li>
		<li>
            <a href="https://github.com/mitevs">
                <i class="icon-github-square"></i>
            </a>
        </li>
		<li>
            <a href="https://mk.linkedin.com/in/stefomitev">
                <i class="icon-linkedin-square"></i>
            </a>
        </li>
    </ul>
</section>