<section class="author">
    <img src="http://gravatar.com/avatar/cb6cf27998424772375d40130f4dda32/?s=100" alt="Author Avatar" class="author__avatar">
	
    <h4 class="author__name">JoJo</h4>
	<span class="author__sub">JoJo on the web</span>
	
	<ul class="author__social">
        <li>
            <a href="#">
                <i class="icon icon--twitter"></i>
            </a>
        </li>
		<li>
            <a href="#">
                <i class="icon icon--github"></i>
            </a>
        </li>
		<li>
            <a href="#">
                <i class="icon icon--linkedin"></i>
            </a>
        </li>
    </ul>
</section>