.author {
	margin: 0 -25px 50px;
	text-align: left;

	@include element('social') {
		@include list-horizontal();
	
		margin-right: 25px;
		font-size: 18px;
		line-height: 40px;
		text-align: right;

		li {
			padding: 0 4px;
		}
	}

	@include element('avatar'){
		height: 60px;
	    width: auto;
	    float: left;
	    padding-top: 5px;
	    border-radius: 10px;
	    margin-left: 25px;
	}

	@include element('name'){
		height: 100%;
		width: auto;
		float: left;
	    font-size: 18px;
	    line-height: 35px;
	    padding: 5px 10px 0;
	    margin: 0;
	}

	@include element('sub'){
		display: none;
	}

	@include element('build') {
		display: none;
	}
}