.skills {
    > h2 {
        margin: 0 0 10px;
    }

    @include element('list') {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            margin-bottom: 10px;

            h4 {
                margin: 0;
            }
        }
    }

    .level-bar {
        border-radius: 3px;
        height: 23px;
        border-style: solid;
        border-width: 1px;
        position: relative;

        @include element('indicator') {
            height: 100%;
            border-right-style: solid;
            border-right-width: 1px;
            padding-left: 10px;

            label {
                font-size: 14px;
                position: absolute;
                height: 100%;
            }

            @include modifier('full') {
                border-right-style: none;
                border-right-width: initial;
            }
        }
    }
}