@charset "UTF-8";
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.ttf?sw6k8j") format("truetype"), url("fonts/icomoon.woff?sw6k8j") format("woff"), url("fonts/icomoon.svg?sw6k8j#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-map-marker:before {
  content: ""; }

.icon-calendar:before {
  content: ""; }

.icon-twitter-square:before {
  content: ""; }

.icon-linkedin-square:before {
  content: ""; }

.icon-github-square:before {
  content: ""; }

.icon-tasks:before {
  content: ""; }

.icon-suitcase:before {
  content: ""; }

body {
  color: #444444;
  font-size: .95em; }

* {
  box-sizing: border-box; }

a {
  color: #A3C90A; }
  a:hover, a.active {
    color: #7c9808; }

.author {
  background: #A3C90A; }
  .author__social a {
    color: #ffffff; }
    .author__social a:hover, .author__social a.active {
      color: #e6e6e6; }
  .author__name {
    color: #ffffff; }

.article__meta {
  color: #777777; }

footer h3 {
  color: #ffffff;
  background-color: #A3C90A; }

.global-search {
  background: #A3C90A;
  border-color: #7c9808; }
  .global-search__input {
    border-color: #ffffff;
    color: #ffffff;
    background: transparent; }

.tile__title {
  border-color: #dddddd; }

.skills .level-bar {
  border-color: #8fb109; }
  .skills .level-bar__indicator {
    background-color: #9fc40a;
    /* Fallback */
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#A3C90A), to(#9bbf0a));
    background-image: -webkit-linear-gradient(top, #A3C90A, #9bbf0a);
    background-image: -moz-linear-gradient(top, #A3C90A, #9bbf0a);
    background-image: -ms-linear-gradient(top, #A3C90A, #9bbf0a);
    background-image: -o-linear-gradient(top, #A3C90A, #9bbf0a);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#A3C90A', EndColorStr='#9bbf0a')";
    border-right-color: #8fb109; }
    .skills .level-bar__indicator label {
      color: #fff; }
    .skills .level-bar__indicator--full {
      border-right-color: transparent; }

.spinner > div {
  background-color: #A3C90A; }

.experience__item {
  border-bottom-color: #ccc; }

.experience__company {
  color: #888; }

.experience__details {
  color: #888; }

@media only screen and (min-width: 768px) {
  .author {
    background: none; }
    .author__social a {
      color: #A3C90A; }
      .author__social a:hover, .author__social a.active {
        color: #7c9808; }
    .author__name {
      color: #444444; }
    .author__sub {
      color: #777777; } }
