.article {
	margin-bottom: 40px;

	@include element('title') {
		margin-top: 0;
		margin-bottom: 10px;
	}

	@include element('meta') {
		padding: 0;
		margin: 5px 0 0;
		list-style: none;
		font-size: 15px;
		font-weight: normal;

		li {
			display: inline-block;
			padding: 0 5px;

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}
		}
	}
}