.modal {
    position: fixed;
    z-index: 10;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    overflow-y: scroll;

    &.in {
        display: block;
    }

    .modal-inner {
        margin: 0 auto;
        width: 90%;
        max-width: 600px;
        margin-top: 10px;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        background: #fff;
    }
    
    header {
        padding: 15px;
        border-bottom: 1px solid #efefef;

        h3 {
            margin: 0;
        }
    }

    section {
        padding: 20px 15px;
    }

    footer {
        padding: 10px;
        background: #e6e6e6;
        border: 1px solid #e0e0e0;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        text-align: right;

        button {
            margin-left: 20px;
        }
    }
}